{% extends 'base.html' %}

{% block content %}
<div id="main">
    <form method="POST" action='/add'>
        <input type="text" name="content" size="35" placeholder="17:00までに牛乳を1本買う"><br>
        <input type="submit" value="追加">
    </form>

    <h1>TODO</h1>
    {% for task in tasks %}
    <form method="post" action="/update">
        <input type="text" name="content" value="{{ task[1] }}">
        <input type="hidden" name="task_id" value="{{ task[0] }}">
        <input type="submit" value="更新" class="btn">
    </form>

    <form method="post" action="/done">
        <input type="hidden" name="task_id" value="{{ task[0] }}">
        <input type="submit" value="完了" class="btn">
    </form>
    <hr>
    {% endfor %}
    <h1>完了したTODO</h1>

    {% for task in done_tasks %}
    <p>{{ task[1] }}</p>
    {% endfor %}
</div>
{% endblock %}
